body {
    margin: 0;
}

.custom-margin-left {
    margin-left: 20px;
}

header {
background: navy; /* For browsers that do not support gradients */
background-image: linear-gradient(to right, #4f74e3, #330066);
}

.card {
    border-radius: 0px !important;
    moz-border-radius: 0px !important;
    webkit-border-radius: 0px !important;
    

}
